.blog{
    background-position: center;background-image: url('/assets/aprayer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%; 
}
.devotion{
	background-image: url('/assets/back1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%; 

}
.devotion p{
	padding-top: 2em;
}

ul {
    padding: 0;
    margin: 0;
}
li {
    display: inline;
    position: relative;
}
ul ul {
    position: absolute;
    display: none;
}
li:hover ul {
    display: block;
}



.ui {
	padding-top: 5em;
	padding-left: .8em;
}
h3,
h5{
	color: orange;
	font-family: impact;
}
.date
{
	color:white;

}
p{
	color: white;
}
.devotion p{
	color: black;
}
.list{
  background: white;
  padding: auto;
   border: solid;
   padding-right: 1em;
}
.list li{

  padding-right: 1em;
  margin-right: 1em;
}
li{
  padding-right:1em;
}